* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

:root {
    --mainColor: #ff7d27;
}

/* first section */

.first-section {
    height: 100vh;
    background-image: url(../images/1st-section.jpg);
    background-size: cover;
    background-position: center calc(50% + 0px);
    text-align: center;
    padding-top: 30vh;
    background-attachment: fixed;
}


.first-section h1 {
    font-size: 128px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
}

.first-section span {
    color: #fff;
    font-size: 45px;
}

.first-section span em {
    color: var(--mainColor);
    font-style: normal;
}

.first-section .more-btn {
    margin-top: 30px;
}

.first-section .more-btn a {
    padding: 15px 20px;
    background: var(--mainColor);
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
}